

* {
    
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    background-color: #ffffff;
}
.navbar .navbar-nav .nav-link {
    color: white;
    padding: .2rem;
  }
.navbar-nav {
   
    padding: .25rem 0;
  }
.circle-link {
    display: inline-block;
    padding: 1rem;
    margin:0 .5rem;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .circle-link:hover {
    text-align: center;
    border-radius: 50px;
    margin:0 .5rem;
    padding: 1rem;
    width: 85%;
    background-color: #545454;
    
  }
.bg-image{
    background-image: url(../image/home2.jpg);
    padding: 100px;
    background-size: cover;
    background-position: bottom;
    
}
.leftSec {
    background-color: #ffffff;
    border: 1px solid black;
    padding:  2rem 2rem 4rem 2rem;       
}
.ride-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .ride-icon svg {
   
    
  }
  
  .ride-icon span {
    font-weight: bold;
    font-size: 24px;
    
  }
